<!-- <p>login works!</p>-->
<!-- formulario de ingreso al sistema, se renderiza si no hay un usuario logue -->
<form class="form-inline" *ngIf="!authService.getUser()">
    <!-- campo para ingresar el usuario -->
    <div class="form-group">
        <label for="username">User: (type <em>user</em>)</label>
        <input class="form-control" type="text" name="username" #username>
    </div>
    <!-- campo para ingresar la contraseña -->
    <div class="form-group">
        <label for="password">Password: (type <em>password</em>)</label>
        <input class="form-control" type="password" name="password" #password>
    </div>
    <a class="btn btn-default" (click)="login(username.value, password.value)">Entrar!</a>
    {{mensajeError}}
</form>
<!-- Boton para salir de la sesion, se renderiza y llama a al metodo salir si hay una sesion iniciada -->
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>
