<!-- <p>lista-destinos works!</p> -->
<!-- Código anterior-->
<!--<h2>Lista de destinos</h2>
<ul>
	<app-destino-viaje *ngFor ="let x of destinos" [nombre]="x"></app-destino-viaje>
</ul>-->

<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form card login with validation feedback -->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Wishlist destinos a visitar</h3>
				</div>
				<div class="card-body">
					<!--Este código se pasó a form-destino-viaje.component.html:
					<form>
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
						</div>
						<div class="form-group">
							<label for="Imagen Url">Imagen Url</label>
							<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>
						</div>
						<button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,url.value)">Guardar</button>
					</form>-->
					<app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
				</div>
			</div>
		</div>
	</div>
	<!-- <div>
		<h2>Lista de destinos sugeridos de Colombia</h2>
		<ul>
			<li *ngFor = "let y of destinosSugeridos" [ciudad]="y">{{y}}
			</li>
		</ul>
	</div> -->
	<hr class="mb-5">
	<!--Se cambió el código en la lección 2.1 de la semana 2
	<div class="row row-flex">
		<app-destino-viaje
		*ngFor ="let x of destinos; let i=index"
		[destino]="x"
		[idx]="i+1"
		(clicked)="elegido($event)"
		></app-destino-viaje>
	</div>-->
	<div class="row row-flex">
		<!--Se cambió el código en la lección 4.2 de la semana 2-->
		<!--<app-destino-viaje
		*ngFor ="let x of destinosApiClient.getAll(); let i=index"
		[destino]="x"
		[idx]="i+1"
		(onClicked)='elegido(x)'
		></app-destino-viaje>-->
		<app-destino-viaje
		*ngFor ="let x of all; let i=index"
		[destino]="x"
		[idx]="i+1"
		(onClicked)='elegido(x)'
		appEspiame
		></app-destino-viaje>
	</div>

	<hr class="mb-5">
	<div class="row row-flex">
		<h5>Actividad</h5>
		<ul>
			<li *ngFor="let u of updates;">{{u}}</li>
		</ul>
	</div>
</div>
