<div class="container content">
  <div class="page-header">
  <div style="float: right;">
    <!-- (change)="translate.use($event.target.value)" -->
    <select (change)="translate.use($event.target.value)">
      <option value="es">Spanish</option>
      <option value="fr">French</option>
      <option value="en">English</option>
    </select>
  </div>

    <div class="container">
      <h1>Ruteo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home </a>
        <a [routerLink]="['/destino']">Destino </a>
      </div>
    </div>
  </div>
  
    <div class="row">
      <h1>
        {{title}} <b [innerHTML]="'HOLA' | translate"></b>
      </h1>
    </div> 
    <!--<app-lista-destinos></app-lista-destinos>-->
    <!--Ahora esto va a ser variable, así:-->
    <router-outlet></router-outlet>
  </div>
  
  <hr class="mb-5">
  
  Fecha: {{time | async }}